input_org_dir=./autotemp/org      # ./autotemp/custom_org 
input_trans_dir=./autotemp/trans  # ./autotemp/custom_trans
output_dir=./autotemp/results     # ./autotemp/custom_results

noise_levels="0 2 4 6 8 10"       # "0 2 4 6 8 10"
attack=replace
add_noise_times=5                 # 2 # 10
algo=advi
