input_file_path=$(realpath $1) # put build error in input_file_path
dest_path=$1 # put all samples & metrics & rt in dest_path, must exist
stan_name=cmdstan-2.16.0
storemethod="cat" # "gzip" "cat"
sampleext="" # .gz" # if using gzip: ".gz" or ""
dest_model_name_ext="_res$4" # can't be empty. find all results in $model_name$ext.tar.gz

to=8 #timeout in min

get_ref=false
ref=100000

get_min=true
min=1000
chain=4
metrics_file_path=$(realpath ./metrics_0301.py)
metric_ops="-m t -m ks -m ekl -m ehell -m wass -m js -o avg -o extreme -w 1000 -btosize"
get_runtime=false
runtime_file_path=$(realpath ./runtime_summary.py)

noisy=true
noisy_data_file=$3
sync_all=true # sync all files with *.stan and *.data.R, otherwise using the dirname as stanfile name
archive=true
tar_archive=false
recompile=false

variational=$2 # default 10000 iters with 1000 samples
